/* Cal-HeatMap CSS */

#cal-heatmap-2010 {
	margin-top: 10px;
	margin-bottom: 5px;
}
#cal-heatmap-2011 {
	margin-top: 10px;
	margin-bottom: 5px;
}
#cal-heatmap-2012 {
	margin-top: 10px;
	margin-bottom: 5px;
}

#cal-heatmap-2013 {
	margin-top: 10px;
	margin-bottom: 5px;
}

#cal-heatmap-2014 {
	margin-top: 10px;
	margin-bottom: 5px;
}

.cal-heatmap-container {
	display: block;
	margin-bottom: 10px;
}

.cal-heatmap-container .graph
{
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

.cal-heatmap-container .graph-label
{
	fill: #999;
	font-size: 10px
}

.cal-heatmap-container .graph, .cal-heatmap-container .graph-legend rect {
	shape-rendering: crispedges
}

.cal-heatmap-container .graph-rect
{
	fill: #ededed
}

.cal-heatmap-container .graph-subdomain-group rect:hover
{
	stroke: #000;
	stroke-width: 1px
}

.cal-heatmap-container .subdomain-text {
	font-size: 8px;
	fill: #999;
	pointer-events: none
}

.cal-heatmap-container .hover_cursor:hover {
	cursor: pointer
}

.cal-heatmap-container .qi {
	background-color: #999;
	fill: #999
}


/*Remove comment to apply this style to date with value equal to 0
.cal-heatmap-container .q0
{
	background-color: #fff;
	fill: #fff;
	stroke: #ededed
}
*/

.cal-heatmap-container .q1
{
	background-color: #fff;
	fill: #fff;
	stroke: #ededed
}

.cal-heatmap-container .q2
{
	background-color: #fee5d9;
	fill: #fee5d9;
	stroke: #ededed
}

.cal-heatmap-container .q3
{
	background-color: #fcae91;
	fill: #fcae91;
	stroke: #ededed
}

.cal-heatmap-container .q4
{
	background-color: #fb6a4a;
	fill: #fb6a4a;
	stroke: #ededed
}

.cal-heatmap-container .q5
{
	background-color: #de2d26;
	fill: #de2d26;
	stroke: #ededed
}

.cal-heatmap-container .q6
{
	background-color: #a50f15;
	fill: #a50f15;
	stroke: #ededed
}





.cal-heatmap-container rect.highlight
{
	//stroke:#fdae6b;
	stroke: #333;
	stroke-width:1
}

.cal-heatmap-container text.highlight
{
	fill: #444
}

.cal-heatmap-container rect.now
{
	stroke: green;
}

.cal-heatmap-container text.now
{
	fill: green;
	font-weight: 800
}

.cal-heatmap-container .domain-background {
	fill: none;
	shape-rendering: crispedges
}

.ch-tooltip {
	padding: 10px;
	background: #222;
	color: #bbb;
	font-size: 12px;
	line-height: 1.4;
	width: 140px;
	position: absolute;
	z-index: 99999;
	text-align: center;
	border-radius: 2px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	display: none;
	box-sizing: border-box;
}

.ch-tooltip::after{
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	content: "";
	padding: 0;
	display: block;
	bottom: -6px;
	left: 50%;
	margin-left: -6px;
    border-width: 6px 6px 0;
    border-top-color: #222;
}





#lean_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	/*background: #000;*/
	display: none;
}

.modal_close {
	margin: 5px;
}

#cal-story1 {
	margin-right: 50px;
	width: 600px;
	padding: 30px;
	display: none;
	background: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}
#cal-story2 {
	width: 600px;
	padding: 30px;
	display: none;
	background: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}
#cal-story3 {
	width: 400px;
	padding: 30px;
	display: none;
	background: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}
#cal-story4 {
	width: 600px;
	padding: 30px;
	display: none;
	background: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}

/* story 1 highlight */
.y_2011.m_1 .domain-background {
	fill: green;
	fill-opacity: 0.0 ;
}

/* story 2 highlight*/
.y_2012.m_11 .domain-background {
	fill: green;
	fill-opacity: 0.0 ;
}

/* story 3 highlight */
.y_2010.m_10 .domain-background {
	fill: green;
	fill-opacity: 0.0 ;
}
.y_2011.m_10 .domain-background {
	fill: green;
	fill-opacity: 0.0 ;
}
.y_2012.m_10 .domain-background {
	fill: green;
	fill-opacity: 0.0 ;
}
.y_2013.m_10 .domain-background {
	fill: green;
	fill-opacity: 0.0 ;
}
.y_2014.m_10 .domain-background {
	fill: green;
	fill-opacity: 0.0 ;
}



.cal-story-content {
	font-size: 1.2em;
	color: #222;
}

.cal-story-icon {
	font-size: 1.6em;
	color: #222;
	margin: 5px;
}