/* Custom Styles
 * -------------------------------------------- */

/*
.row {
margin-left: .5%;
width: 97.5%;
} */

p {
    font-size: 1.6em;
}

#menu {
    opacity: 0.5;
}

input, textarea {
    opacity: 0.8;
}

#navbar-collapse-1 {
    font-size: medium;
}

.section.table {
    margin: 0;
}

.controlArrow {
    opacity: 0.5;
}

.controlArrow:hover {
    opacity: 1;
}

.outline {
    outline: 1px solid red;
}

.center {
    text-align: center;
}

#forecast-text {
    font-size: 1.4em;
    color: white;
}

.white {
    color: white;
}

/* Media sizing adjustments
* -------------------------------------------- */
/*
@media (max-width: 768px) {
    .container .container-fluid {
        margin: 0 10px;
    }

    h1 {
        font-size: 26px !important;
    }

    p, label {
        font-size: 16px !important;
    }
}

@media (min-width: 769px) and (max-width: 980px) {
    h1 {
        font-size: 34px !important;
    }

    p, label {
        font-size: 20px !important;
    }
}

@media (min-width: 981px) {
    h1 {
        font-size: 48px !important;
    }

    p, label {
        font-size: 16px !important;
    }
}
*/
