/* @import url(http://fonts.googleapis.com/css?family=Helvetica+Nueue); */

/* Custom CSS
 * --------------------------------------- */
body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: .8em;  /* equals ~ 13px  */
    color: rgba(0,0,0,0.5);
    background: #fff;  /* #33495f;*/
    line-height: 1.3;
}


#sankeyStoryTitle
{
    font-size: 25px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}


#sankeyStoryTxt
{
    font-size: 14px;
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: left;
    font-weight: normal;
}

#sankeyTitle
{
    font-size: 25px;
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: bold;
}

#sankey-diagram
{
    background-color: rgba(255, 255, 255, 0.8);
    float: left;
    width: 800px;
    height:500px;
    margin-left: 40px;
    margin-right: 40px;
}

#sankeyStory
{
    background-color: rgba(255, 255, 255, 0.8);
    float: left;
    width: 400px;
    height:500px;
    margin-left: 0px;
    margin-right: 40px;
}



p {
    font-size: .7em;
}

.btn-type-travel {
    font-size: 1.6em;
}

.btn-type-weather {
    font-size: 1.6em;
}

.btn-type-weather-current {
    font-size: 2.4em;
}

p.weather-current {
    font-size: 1.7em;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.9);
}

#menu {
    opacity: 0.6;
}

input, textarea {
    opacity: 0.8;
}

#navbar-collapse-1 {
    font-size: medium;
}

.section.table {
    margin: 0;
}

.controlArrow {
    opacity: 0.5;
}

.controlArrow:hover {
    opacity: 1;
}

.outline {
    outline: 1px solid red;
}

.center {
    text-align: center;
}

[class*="textbox"] {
    color: #fff;
    font-weight: 200;
    font-size: 1em;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .9);
    padding-left: 1.5em;
    padding-right: 1.5em;

}

.textbox-heading {
    font-size: 1.5em;
    text-align: center;
    line-height: 2em;
    alignment: center;
}

.textbox-forecast-count {
    font-weight: lighter;
    font-size: 13em;
    text-align: center;
    line-height: 1em;
    alignment: center;
    padding: 0 0 0 0;
}

.textbox-hr {
    border-top-width: 1px;
    border-top-style: inset;
    border-top-color: #ededed;
    width: 70%;
}


[class*="drawer-text"] {
    font-weight: 100;
    font-size: 1.2em;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .9);
    letter-spacing: 1.5px;
}

.drawer-text-heading {
    color: deeppink;
    font-size: 2.5em;
    font-weight: 200;
    padding-bottom: 10px;
    letter-spacing: 1.2px;

}

#current-location {

}

#current-datetime {

}

.text-shadow {
    text-shadow: 1px 1px 2px #000000;
}

.white {
    color: white;
}


/*  TOOLTIP OVERLAY
 * --------------------------------------- */
.tooltip-title {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Nrthward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
}

/*  SANKEY DIAGRAM
 * --------------------------------------- */

.node rect {
    cursor: move;
    fill-opacity: 1;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
    font: 12px arial, sans-serif;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .1;
}

.link:hover {
    stroke-opacity: .3;
}

.btn
{

    font: 12px arial, sans-serif;
}

p#title
{
    font-size: 25px;
    padding-left: 25px;
    padding-top: 10px;
    font-weight: bold;
}


.citation
{
    font-size: 10px;
    color: #ededed;
    text-align: right;
}



/* Lean Modal
 * --------------------------------------- */


#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    /*background: #000;*/
    display: none;
}

.modal_close {
    margin: 5px;
}



/* FORCE GRAPH
 * --------------------------------------- */

#streetview-title {
    font-weight: bold;
}


#streetview-info {
    font-weight: bold;
}

#forcegraph-title {
    font-weight: bold;
}


.force-node {
    fill: #377eb8;   /* dark blue */
}

.force-selectedNode {
    fill: #e41a1c;  /* dark red */
}

.force-link {
    stroke: #e41a1c;   /* dark blue */
    stroke-width: 3;
}


/* LINEMAP
* --------------------------------------- */


#linemap  {
    text-align: center;
}

#linemap {
    margin-top: 0px;
}


.linemap-heading {
    text-align: center;
}

.linemap-title {
    font-size: 1.6em;
}

.linemap-directional {
    font-size: 1.2em;
}


/*  Bar Chart */

#barchart {
    text-align: center;
}

.barchart-bar {
    fill: #888 ;
}

.barchart-bar:hover {
    fill: #333;
}

.barchart-selectedBar {
    fill: #a50f15;
}


.barchart-xAxis path,
.barchart-xAxis line {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
}

.barchart-yAxis path,
.barchart-yAxis line {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
}

.barchart-xAxis .barchart-yAxis path {
    display: none;
}




#linemap-story1 {
    margin-right: 50px;
    width: 900px;
    padding: 5px 20px 5px 20px;
    display: none;
    background: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}

#linemap-story2 {
    margin-right: 50px;
    width: 900px;
    padding: 5px 20px 5px 20px;
    display: none;
    background: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}


#linemap-story3 {
    margin-right: 50px;
    width: 900px;
    padding: 5px 20px 5px 20px;
    display: none;
    background: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}

#linemap-info {
    margin-right: 50px;
    width: 550px;
    padding: 30px;
    display: none;
    background: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}

.linemap-story-content {
    font-size: 1.2em;
    color: #222;
}

.linemap-story-icon {
    font-size: 1.6em;
    color: #222;
    margin: 5px;
}


/*  Bar Chart */

#barchart {
    text-align: center;
}

.barchart-bar {
    fill: #888 ;
}

.barchart-bar:hover {
    fill: #333;
}

.barchart-selectedBar {
    fill: #a50f15;
}


.barchart-xAxis path,
.barchart-xAxis line {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
}

.barchart-yAxis path,
.barchart-yAxis line {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
}

.barchart-xAxis .barchart-yAxis path {
    display: none;
}



/* HOURLY ACCIDENTS
* --------------------------------------- */

#hourly_graph svg {
    background-color: #000;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    font-size: 10px;
    color: #ededed;
    padding: 0 0 0 0;
    margin: 10px;
}

#hourly_graph svg path.line {
    fill: none;
    stroke: #fff;
    stroke-width: 2.5px;
}

#hourly_graph svg path.area {
    fill:  rgba(70, 172, 206, 1);  /* #46acce; */

}

#hourly_graph svg .axis {
    shape-rendering: crispEdges;
}

#hourly_graph svg .x.axis line {
    stroke: #000;
}

#hourly_graph svg .x.axis .minor {
    stroke-opacity: .5;
}

#hourly_graph svg .x.axis path {
    display: none;
}

#hourly_graph svg .y.axis line,
#hourly_graph svg .y.axis path {
    fill: none;
    stroke: #fff;
}

#hourly_graph svg .y.axis text {
    fill: none;
    stroke: #b7b7b7;
    font-weight: 100;
}

#hourly_graph svg .x.axis text {
    fill: none;
    stroke: #b7b7b7;
    font-weight: 100;
}
