#container {
    width: 750px;
    padding: 0 20px;
    margin: 50px auto;
}

.clearfix {
    display: block;
    clear: both;
}

/*
 * Checkbox Filters
 */

#accidentTypeFilter,
#weatherFilter {
    clear: both;
}

#accidentTypeFilter ul,
#weatherFilter ul {
    list-style: none;
    padding: 0;
    margin: 0;
    clear: both;
}

#accidentTypeFilter ul li,
#weatherFilter ul li {
    float: left;
}

#accidentTypeFilter ul li input[type='checkbox'],
#weatherFilter ul li input[type='checkbox'] {
    margin-right: 4px;
}

#accidentTypeFilter ul li label,
#weatherFilter ul li label {
    
}

/*
 * Map Toggle
 */
.mapToggle {
    clear: both;
    margin: 10px 0;
}

.mapToggle .accidentsToggle,
.mapToggle .neighborhoodsToggle {
    float: left;
    color: #373A3C;
    background: #FFF;
    padding: 3px 6px;
    border: 1px solid #CCC;
    cursor: pointer;
}

.mapToggle .accidentsToggle.selected,
.mapToggle .neighborhoodsToggle.selected {
    background: #E6E6E6;
}

.mapToggle .accidentsToggle {
    border-radius: 3px 0 0 3px;
}

.mapToggle .neighborhoodsToggle {
    border-radius: 0 3px 3px 0;
    border-left: none;
}

/*
 * Accident Map
 */

#accidentMap svg {
    background: #EEE;
}

#accidentMap svg path.neighborhood {
    fill: #4682B4;
}

#accidentMap svg path.boundary {
    fill: #CCC;
}

#accidentMap svg path.road {
    fill: #EEE;
}

#accidentMap svg circle.accident {
    fill: #4682B4;
    fill-opacity: 0.2;
}

/*
 * Year / Month / Day / Hour Chart
 */

#yearChart svg,
#monthChart svg,
#dayChart svg,
#hourChart svg {

}

#yearChart svg .axis path,
#yearChart svg .axis line,
#monthChart svg .axis path,
#monthChart svg .axis line,
#dayChart svg .axis path,
#dayChart svg .axis line,
#hourChart svg .axis path,
#hourChart svg .axis line {
    stroke-width: 1px;
    stroke: #333;
    fill: none;
}

#yearChart svg .axis text,
#monthChart svg .axis text,
#dayChart svg .axis text,
#hourChart svg .axis text, {
    font-size: 13px;
    fill: #333;
}

#yearChart svg .bg path.area,
#monthChart svg .bg path.area,
#dayChart svg .bg path.area,
#hourChart svg .bg path.area {
    fill: #D8D8D8;
}

#yearChart svg .fg path.area,
#monthChart svg .fg path.area,
#dayChart svg .fg path.area,
#hourChart svg .fg path.area {
    fill: #A3C1DA;
}

#yearChart svg .bg path.line,
#monthChart svg .bg path.line,
#dayChart svg .bg path.line,
#hourChart svg .bg path.line {
    stroke-width: 1;
    stroke: #B2B2B2;
    fill: none;
}

#yearChart svg .fg path.line,
#monthChart svg .fg path.line,
#dayChart svg .fg path.line,
#hourChart svg .fg path.line {
    stroke-width: 1;
    stroke: #4682B4;
    fill: none;
}

#yearChart svg .brush .extent,
#monthChart svg .brush .extent,
#dayChart svg .brush .extent,
#hourChart svg .brush .extent {
    fill: #4682B4;
    fill-opacity: 0.1;
}